.calculator {
  background-color: rgba(231, 228, 216, 0.082);
  height: 80vh;
  padding: 1px 0 15px 15px;
  display: flex;
  justify-content: space-between;
}

.App {
  display: flex;
  flex-direction: column;
  width: 700px;
  border: solid 1px grey;
}
